<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Neptun</title>
    <style>
            th, td{
                border: 1px solid black;
                margin: 0px;
            }
            tr{
                background-color: rgba(20, 20, 20, 0.2);
            }
            tr:hover{
                background-color: rgba(20, 20, 20, 0.1);
            }
            caption{
                background-color: rgba(20, 20, 20, 0.2);
                padding: 10px;
                margin: 5px 0 10px 0;
                font-weight: bold;
            }
            .back-auth{
                background-color: rgba(240, 0, 0, 0.2);
            }
            .back-auth:hover{
                background-color: rgba(240, 0, 0, 0.1);
            }
            a{
                color: navy;
            }
            a:hover{
                color: black;
            }
        </style>
</head>
<body>
<table cellpadding="10">
    <caption>Neptun REST API</caption>
    <tr>
        <th>Request method</th>
        <th>Url path</th>
        <th>Web service</th>
        <th>Authorization</th>
    </tr>
    <tr>
        <td>GET</td>
        <td><a href="/classrooms">classrooms</a></td>
        <td>A termek listája</td>
        <td>engedélyezett</td>
    </tr>
    <tr>
        <td>GET</td>
        <td><a href="/classroom/5">classroom/{ID}</a></td>
        <td>Id által kiválasztott terem adatai</td>
        <td>engedélyezett</td>
    </tr>

    <tr>
        <td>GET</td>
        <td><a href="/departments">departments</a></td>
        <td>Tanszékek listája</td>
        <td>engedélyezett</td>
    </tr>
    <tr>
        <td>GET</td>
        <td><a href="/department/3">department/{ID}</a></td>
        <td>Id által kiválasztott tanszék adatai</td>
        <td>engedélyezett</td>
    </tr>


    <tr>
        <td>GET</td>
        <td><a href="/equipments">/equipments</a></td>
        <td>Felszerelések listája</td>
        <td>engedélyezett</td>
    </tr>
    <tr>
        <td>GET</td>
        <td><a href="/equipment/7">/equipment/{ID}</a></td>
        <td>Id által kiválasztott felszerelés adatai</td>
        <td>engedélyezett</td>
    </tr>


    <tr>
        <td>GET</td>
        <td><a href="/students">/students</a></td>
        <td>Diákok listája</td>
        <td>engedélyezett</td>
    </tr>
    <tr>
        <td>GET</td>
        <td><a href="/student/5">/student/{ID}</a></td>
        <td>Id által kiválasztott diák adatai</td>
        <td>engedélyezett</td>
    </tr>

    <tr>
        <td>GET</td>
        <td><a href="/teachers">/teachers</a></td>
        <td>Tanárok listája</td>
        <td>engedélyezett</td>
    </tr>
    <tr>
        <td>GET</td>
        <td><a href="/teachers/2">/teachers/{ID}</a></td>
        <td>Id által kiválasztott tanár adatai</td>
        <td>engedélyezett</td>
    </tr>

    <tr>
        <td>GET</td>
        <td><a href="/teachers/department/2">/teachers/department/{ID}</a></td>
        <td>Id által kiválasztott tanár és tanszék</td>
        <td>engedélyezett</td>
    </tr>

    <tr>
        <td>GET</td>
        <td><a href="/courses">/courses</a></td>
        <td>Kurzusok listája</td>
        <td>engedélyezett</td>
    </tr>
    <tr>
        <td>GET</td>
        <td><a href="/course/2">/course/{ID}</a></td>
        <td>Kurzus ID szerint</td>
        <td>engedélyezett</td>
    </tr>
    <tr>
        <td>GET</td>
        <td><a href="/student/course/UHZTGN/hétfő">/student/course/{neptun_code}/{days}</a></td>
        <td>Diák kurzusai az adott napon</td>
        <td>engedélyezett</td>
    </tr>
    <tr>
        <td>GET</td>
        <td><a href="/teacher/course/DFGHJK/hétfő">/teacher/course/DFGHJK/hétfő/teacher/course/{neptun_code}/{days}</a></td>
        <td>Tanár kurzusai az adott napon</td>
        <td>engedélyezett</td>
    </tr>




    <tr class="back-auth">
        <td>POST</td>
        <td>classrooms/add</td>
        <td>Új terem felvétele</td>
        <td>jelszóval védendő</td>
    </tr>
    <tr class="back-auth">
        <td>PATCH</td>
        <td>/classrooms/updatespace/{ID}</td>
        <td>Terem férőhely módosítása</td>
        <td>jelszóval védendő</td>
    </tr>
    <tr class="back-auth">
        <td>DELETE</td>
        <td>/classrooms/delete/{ID}</td>
        <td>Kiválasztott terem törlése</td>
        <td>jelszóval védendő</td>
    </tr>


    <tr class="back-auth">
        <td>POST</td>
        <td>/departments/add</td>
        <td>Új tanszék felvétele</td>
        <td>jelszóval védendő</td>
    </tr>
    <tr class="back-auth">
        <td>PATCH</td>
        <td>/department/updatename/{ID}</td>
        <td>Tanszék nevének Módosítása</td>
        <td>jelszóval védendő</td>
    </tr>
    <tr class="back-auth">
        <td>DELETE</td>
        <td>/department/delete/{ID}</td>
        <td>Kiválasztott Tanszék törlése</td>
        <td>jelszóval védendő</td>
    </tr>

    <tr class="back-auth">
        <td>POST</td>
        <td>/equipments/add</td>
        <td>Új felszerelés felvétele</td>
        <td>jelszóval védendő</td>
    </tr>
    <tr class="back-auth">
        <td>PATCH</td>
        <td>/equipments/update/{ID}</td>
        <td>Felszerelés módosítása</td>
        <td>jelszóval védendő</td>
    </tr>
    <tr class="back-auth">
        <td>DELETE</td>
        <td>/equipment/delete/{ID}</td>
        <td>Kiválasztott Felszerelés törlése</td>
        <td>jelszóval védendő</td>
    </tr>

    <tr class="back-auth">
        <td>POST</td>
        <td>/students/add</td>
        <td>Új Diák felvétele</td>
        <td>jelszóval védendő</td>
    </tr>
    <tr class="back-auth">
        <td>PATCH</td>
        <td>/student/update/{ID}</td>
        <td>Diák adatainak módosítása</td>
        <td>jelszóval védendő</td>
    </tr>
    <tr class="back-auth">
        <td>DELETE</td>
        <td>/students/delete/{ID}</td>
        <td>Kiválasztott Diák törlése</td>
        <td>jelszóval védendő</td>
    </tr>

    <tr class="back-auth">
        <td>POST</td>
        <td>/teachers/add</td>
        <td>Új Tanár felvétele</td>
        <td>jelszóval védendő</td>
    </tr>
    <tr class="back-auth">
        <td>PATCH</td>
        <td>/teachers/name/update/{ID}</td>
        <td>Tanár nevének módosítása</td>
        <td>jelszóval védendő</td>
    </tr>
    <tr class="back-auth">
        <td>PATCH</td>
        <td>/teachers/department/update/{ID}</td>
        <td>Tanár tanszékének módosítása</td>
        <td>jelszóval védendő</td>
    </tr>
    <tr class="back-auth">
        <td>DELETE</td>
        <td>/teachers/delete/{ID} </td>
        <td>Kiválasztott Tanár törlése</td>
        <td>jelszóval védendő</td>
    </tr>

    <tr class="back-auth">
        <td>POST</td>
        <td>/courses/add</td>
        <td>Új Kurzus felvétele</td>
        <td>jelszóval védendő</td>
    </tr>
    <tr class="back-auth">
        <td>PATCH</td>
        <td>/teachers/name/update/{ID}</td>
        <td>Tanár nevének módosítása</td>
        <td>jelszóval védendő</td>
    </tr>
    <tr class="back-auth">
        <td>PATCH</td>
        <td>/course/updatename/update/{ID}</td>
        <td>Kurzus nevének módosítása</td>
        <td>jelszóval védendő</td>
    </tr>
    <tr class="back-auth">
        <td>DELETE</td>
        <td> /course/delete/{ID}</td>
        <td>Kiválasztott Kurzus törlése</td>
        <td>jelszóval védendő</td>
    </tr>




</table>
</body>
</html>